.navbar-collapse {
    flex-grow: 0; 
    gap: 50px;
    ul{
       li{
           .nav-link{
               text-decoration: none;
               color:#abb7c4;
               padding-right: 20px;
               font-weight: 400;
           }
       }
    }
   }

.navbar-toggler-icon{
    color: #abb7c4;
   }

   .profile_user{

    display: flex;
    flex-direction: row;
    gap: 20px;
   }

    a{
    color:#abb7c4;
    text-decoration: none
    
   }
   a:hover{
    color: #abb7c4;
   }
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

   @media screen and (max-width:992px){
       .navbar-collapse {
            
           ul{
              li{
                  
                      
                  
              }
           }
          }
   }
   
   .navbar-toggler:focus {
   
       box-shadow: none;
   }
